# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        17
        101
        114
        101
        98
        117
        115
        37
        51
        65
        111
        114
        101
        95
        116
        105
        110
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        57
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        76
        45
        74
        77
        42
        45
        6
        114
        -13
        -117
        82
        -29
        75
        50
        -13
        -20
        25
        24
        26
        88
        -2
        -113
        -126
        -111
        11
        -2
        -3
        -1
        15
        0
        -70
        39
        10
        -30
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


