# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=Moin und an die Arbeit.
    S:OnSleepText=pennt nun...
    S:OnWakeText=ist aus dem Bett gestolpert
    I:SleeperPerc=50
}


